rule_engine:
  build: ./rule.engine
  command: ./srv/rule_engine/bin/install.sh

data_router:
  build: ./data.router

cassandra:
  build: ./data.aggregator.rt
  dockerfile: Dockerfile

data_provider:
  build: .
  dockerfile: data.provider/Dockerfile
  volumes:
    - ./data.provider:/srv/data.provider/
    - ./histdata.com/data/csv:/srv/data.provider/data/csv
  links:
    - cassandra:database
    - data_router:kafka
  command:
    python3 src/2.provider.py audusd 2016 05

# http://192.168.99.101:8080/
# /etc/hosts dockerion:8080
web:
    image: nginx:latest
    ports:
        - "8080:80"
    volumes:
        - ./web.interface/:/srv/web/
        - ./web.interface/site.conf:/etc/nginx/conf.d/default.conf
    links:
        - php
php:
    image: php:7-fpm
    volumes:
        - ./web.interface/:/srv/web/
